<div class="container-fluid">

     <!-- Page Heading -->
     <div class="row">
         <div class="col-lg-12">
             <h1 class="page-header">
                 List of Definitions
             </h1>
             <ol class="breadcrumb">
                 <li class="active">
                     <i class="fa fa-home"></i> Home
                 </li>
             </ol>
         </div>
     </div>
     <!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<h2>Definitions</h2>
			<div id="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Tag</th>
							<th>Description</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="definition in definitions" class="clickable-row">
							<td>{{definition.name}}</td>
							<td>{{definition.tag}}</td>
							<td>{{definition.description}}</td>
							<td>
								<a href="javascript:void(0);" ng-click="seeDetail(definition.id)" title="View" class="link-icon"><i class="fa fa-eye"></i></a>
								<a href="javascript:void(0);" title="Edit" class="link-icon" ><i class="fa fa-pencil"></i></a>
								<a href="javascript:void(0);" title="Delete" class="link-icon" ><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->